* {
    --fontSize: 16px;
    --fontSize-superscript: 11px;
    --fontSize-figcaption: 14px;
    --fontSize-th: 13px;
    --fontSize-td: 14px;
    --line-height: 1.3;
    --margin-base: 10px;

    --font-family: 'Ubuntu', sans-serif;
    --font-family-code: 'Ubuntu Mono', monospace;
    --font-family-heading: 'Lora', sans-serif;

    --color-text: rgb(2, 30, 69);
    --color-heading: rgb(140, 185, 24);
    --color-link: var(--color-heading);
    --color-mark: white;
    --color-mark-background: var(--color-text);
    --color-pre: var(--color-text);
    --color-pre-background: #fafafa;
    --color-table-background: white;
    --color-table-background-alternate: var(--color-pre-background);
    --color-table-border: rgb(19, 64, 148);
    --color-info: rgb(16, 168, 229);
    --color-warning: rgb(244, 125, 9);
    --color-danger: rgb(237, 70, 34);
    --color-li: var(--color-table-border);
    --color-footnote: var(--color-table-border);
    --color-footnote-border: var(--color-table-border);
    --color-documentTitle: var(--color-table-border);
    --color-documentTitle-author: var(--color-table-border);
    --color-figure-background: var(--color-pre-background);
    --color-figure-border: #f0f0f0;

    --transform-heading: none;
    --padding-figure: 1rem;
    --borderRadius-figure: 5px;

    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
