table {
    width: 100%;
    border-spacing: 0;
    border-collapse: separate;

    thead tr th {
        font-size: calc(var(--fontSize-th));
        font-family: var(--font-family-heading), sans-serif;
        padding: var(--margin-base);
        border-bottom: 2px solid var(--color-table-border);
        vertical-align: bottom;
        color: var(--color-text);
        hyphens: manual;
        font-weight: bold
    }

    tbody {
        tr:nth-of-type(even) {
            background-color: var(--color-table-background-alternate);
        }

        tr:nth-of-type(odd) {
            background-color: var(--color-table-background);
        }

        tr td {
            font-size: calc(var(--fontSize-td));
            padding: var(--margin-base);
            border-bottom: 1px solid var(--color-table-border);
            vertical-align: top;
            text-align: left;
        }
    }
}
