* {
    --color-madx-title: rgba(135, 128, 36, 1);
    --color-madx-background: rgba(0, 0, 0, 0.05);

    --font-family: Arial, Liberation Sans, sans-serif;
    --font-family-code: 'Ubuntu Mono', monospace;
    --font-family-heading: Arial, Liberation Sans, sans-serif;

    --color-text: black;
    --color-link: var(--color-madx-title);
    --color-heading: var(--color-madx-title);
    --color-li: var(--color-madx-title);
    --color-table-border: var(--color-madx-title);
    --color-table-background-alternate: var(--color-madx-background);
    --color-pre-background: var(--color-madx-background);
    --color-danger: rgba(220, 53, 69, 1);
    --color-warning: rgba(255, 193, 7, 1);

    --color-figure-background: var(--color-madx-background);
    --color-figure-border: var(--color-text);

    --transform-heading: uppercase;
}
